<mat-sidenav-container class="h100">
  <mat-sidenav #nav>
    <div class="drawer-header">
      <b>AI Labs!</b>
    </div>
    <div class="drawer flex vert stretch">
      <button mat-button [routerLink]="['/main']" [routerLinkActive]="['active-link']" (click)="nav.close()">
        <div class="menu-item flex start center padded">
          <mat-icon>insert_emoticon</mat-icon>
          <span>Main Menu</span>
        </div>
      </button>
      <button mat-button [routerLink]="['/lab1']" [routerLinkActive]="['active-link']" (click)="nav.close()">
        <div class="menu-item flex start center padded">
          <mat-icon>insert_emoticon</mat-icon>
          <span>Lab 1: Emotions</span>
        </div>
      </button>

      <button mat-button [routerLinkActive]="['active-link']" [routerLink]="['/lab2']" (click)="nav.close()">
        <div class="menu-item flex start center padded">
          <mat-icon>insert_emoticon</mat-icon>
          <span>Lab2: Coming sooon</span>
        </div>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="flex space-between center">
      <div class="flex">
        <button mat-icon-button (click)="nav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="flex center">AI Admin</span>
      </div>
      <div class="flex">
        <span>{{user?.displayName}}</span>
        <div *ngIf="user">
          <button mat-button (click)="logout()">Logout</button>
        </div>
        <div *ngIf="!user">
          <button mat-button (click)="login()">Login</button>
        </div>
      </div>
    </mat-toolbar>
    <div class="rel content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
