<div class="wrapper h100 flex horiz">
  <div class="content">
    <table>
      <tr>
        <th>x1</th>
        <th>x2</th>
        <th>x3</th>
        <th>x3</th>
        <th>b</th>
        <th>r</th>
      </tr>
      <tr *ngFor="let r of tab; let i=index">
        <td class="padded" *ngFor="let cell of r; let j=index">{{cell | number :'1.0-2'}}</td>
      </tr>
    </table>
    <span>Step #{{iteration}}</span>
    <button mat-raised-button colot="primary" (click)="step()">NEXT STEP</button>
  </div>
</div>
