<mat-tab-group>
  <mat-tab label="Опитування">
    <div class="container">
      test
    </div>
  </mat-tab>
  <mat-tab label="Результати">
    <div class="container">
      test
    </div>
  </mat-tab>
</mat-tab-group>
