/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "scss/helpers.scss";

html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
