.block {
    display: block;
  }
  
  .w100 {
    width: 100%;
  }
  
  .h100 {
    height: 100%;
  }
  
  .marg-center {
    margin-right: auto;
    margin-left: auto;
  }
  
  .marged {
    margin: .5rem;
  }
  
  .flex {
    display: flex;
  }
  
  .vert {
    flex-direction: column;
  }
  
  .horiz {
    flex-direction: row;
  }
  
  .grow {
    flex-grow: 1;
  }
  
  .space-around {
    justify-content: space-around;
  }
  
  .space-between {
    justify-content: space-between;
  }
  
  .stretch {
    align-items: stretch;
  }
  
  .start {
    align-items: flex-start;
  }
  
  .end {
    align-items: flex-end;
  }
  
  .just-end {
    justify-content: flex-end;
  }
  
  .just-center {
    justify-content: center;
  }
  
  .just-start {
    justify-content: flex-start;
  }
  
  .center {
    align-items: center;
  }
  
  .padded {
    padding: .5rem;
  }
  
  /* Postioning */
  
  .abs {
    position: absolute;
  }
  
  .rel {
    position: relative;
  }
  
  .hidden {
    display: none;
  }
  